* {
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.6pt;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  

.title {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    background-color: white;
    justify-content: center;
    padding-top: 1vh;
}

#nomePosto {
    width: 90%;
    text-align: center;
    color: #173d72;
    border-bottom: 2px solid black;
    padding-bottom: 0.3em;
}

#conectando {
    /* margin-top: 75px; */
    height: 5em;
    position: relative;
    top: 30vh;
}

/* https://loading.io/css */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #173d72;
    border-color: #f29206 transparent #173d72 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.seletor {
    width: 70%;
    height: 40vh;
    background-color: ghostwhite;
    border: solid #173d72 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#divSelecaoPosto {
    margin-top: 25vh;
}

#divSelecaoPosto > select {
    font-size: 20pt;
    width: 50%;
    padding: 8px;
}

button {
    background-color: #173d72;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: #173d72 solid 2px;
    font-size: 12pt;
    margin: 0.1em;
}

button:hover {
    background-color: #173d72c0
}

button:active, button:focus {
    border: solid 2px #f29206;
}

#inicio {
    display: none;
    padding: 1em;
    width: 100%;
    height: 100%;
}

#leitor {
    margin-left: 5vw;
}

#grid-inicio {
    margin-left: 2vw;
    border: solid black 1px;
   
}

#principal {
    position: relative;
    z-index: 1;
    margin-top: 1em;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    text-align: center;
}

.tabela caption {
    color: grey;
    font-size: 8pt;
    position: sticky;
    top:55px;
    background-color: white;
}

.tabela th {
    border-radius: 4px;
    background-color: rgb(236, 236, 236);
    position: sticky;
    top:67px;
    font-size: 10pt;
    padding: 0.4em;
    border: 1px solid rgb(226, 226, 226);
}

.tabela td {
    border-radius: 4px;
    border: 1px solid rgb(226, 226, 226);
    text-align: center;
    padding: 0.4em;
    font-size: 14pt;
}

fieldset {
    border-radius: 5px;
    border: lightgray solid 1px;
}

.menu {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
}

.menu-oculto {
    display: none;
    width: fit-content;
}

#inputTagTP {
    pointer-events: none;
    user-select: none;
}

.grid {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

#alert {
    display: none;
    background-color: rgb(66, 168, 66);
    border: 2px solid black;
    color: white;
    font-size: 20pt;
    width: 60%;
    box-shadow: gray 5px 5px;
}

#falhaLeitor {
    color: red
}

.grid-transporte{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.grid-transporte-item {
    background-color:darkorange;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 1px;
}

.grid-container-inicio {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

[class*='item-inicio'] {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 2vw;
    text-align: center;
}

[class*='item-inicio']:hover {
    color: white
}

.item-inicio-red{
    background-color: red;
}

.item-inicio-green{
    background-color: rgb(0,128,0);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

[class*='grid-item-'] {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin: 1px;
    cursor: pointer;
    background-color: ghostwhite;
}

[class*='grid-item-']:hover {
    opacity: 90%;
    color: gray;
}

.grid-item-devolvido {
    background-color: blue;
}
.grid-item-emuso {
    background-color: yellow;
}
.grid-item-bloqueado {
    background-color: grey;
    color: lightgray
}

.hidden, .pagina {
    display: none;
}